USE [master]
GO
/****** Object:  Database [QLPhongKham]    Script Date: 2/23/2024 1:54:04 PM ******/
CREATE DATABASE [QLPhongKham]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLPhongKham', FILENAME = N'D:\CODE\HKTet_Year4\PTPM_UngDung\Project\Database\QLPhongKham.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLPhongKham_log', FILENAME = N'D:\CODE\HKTet_Year4\PTPM_UngDung\Project\Database\QLPhongKham_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLPhongKham].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLPhongKham]
GO
/****** Object:  Table [dbo].[BenhNhan]    Script Date: 2/23/2024 1:54:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BenhNhan](
	[MaBN] [char](5) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](5) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SDT] [char](15) NULL,
 CONSTRAINT [PK_BenhNhan] PRIMARY KEY CLUSTERED 
(
	[MaBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHD]    Script Date: 2/23/2024 1:54:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHD](
	[MaHD] [char](5) NOT NULL,
	[MaToa] [char](5) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [int] NULL,
	[ID_CTTT] [char](5) NULL,
 CONSTRAINT [PK_ChiTietHD] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaToa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietToaThuoc]    Script Date: 2/23/2024 1:54:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietToaThuoc](
	[MaToa] [char](5) NOT NULL,
	[MaThuoc] [char](5) NOT NULL,
	[SoLuong] [nvarchar](50) NULL,
	[CachDung] [nvarchar](50) NULL,
 CONSTRAINT [PK_ChiTietToaThuoc] PRIMARY KEY CLUSTERED 
(
	[MaToa] ASC,
	[MaThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonThuoc]    Script Date: 2/23/2024 1:54:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonThuoc](
	[MaHD] [char](5) NOT NULL,
	[MaToa] [char](5) NULL,
	[NgayBan] [date] NULL,
	[TienThuoc] [int] NULL,
 CONSTRAINT [PK_HoaDonThuoc] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuKham]    Script Date: 2/23/2024 1:54:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuKham](
	[MaPK] [char](5) NOT NULL,
	[MaBN] [char](5) NULL,
	[NgayKham] [date] NULL,
	[STT] [int] NULL,
	[TrieuChung] [nvarchar](50) NULL,
	[ChuanDoan] [nvarchar](50) NULL,
 CONSTRAINT [PK_PhieuKham] PRIMARY KEY CLUSTERED 
(
	[MaPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thuoc]    Script Date: 2/23/2024 1:54:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thuoc](
	[MaThuoc] [char](5) NOT NULL,
	[TenThuoc] [nvarchar](50) NULL,
	[DonVi] [nvarchar](50) NULL,
	[DonGia] [int] NULL,
	[NSX] [date] NULL,
	[HSD] [date] NULL,
 CONSTRAINT [PK_Thuoc] PRIMARY KEY CLUSTERED 
(
	[MaThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToaThuoc]    Script Date: 2/23/2024 1:54:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToaThuoc](
	[MaToa] [char](5) NOT NULL,
	[MaPK] [char](5) NULL,
	[BacSiKeToa] [nvarchar](50) NULL,
	[NgayKeToa] [date] NULL,
 CONSTRAINT [PK_ToaThuoc] PRIMARY KEY CLUSTERED 
(
	[MaToa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/23/2024 1:54:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [nvarchar](10) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[SDT] [nvarchar](12) NULL,
	[GioiTinh] [nvarchar](6) NULL,
	[NgaySinh] [date] NULL,
	[Role] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietHD]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHD_HoaDonThuoc] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDonThuoc] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHD] CHECK CONSTRAINT [FK_ChiTietHD_HoaDonThuoc]
GO
ALTER TABLE [dbo].[ChiTietToaThuoc]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietToaThuoc_Thuoc] FOREIGN KEY([MaThuoc])
REFERENCES [dbo].[Thuoc] ([MaThuoc])
GO
ALTER TABLE [dbo].[ChiTietToaThuoc] CHECK CONSTRAINT [FK_ChiTietToaThuoc_Thuoc]
GO
ALTER TABLE [dbo].[ChiTietToaThuoc]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietToaThuoc_ToaThuoc] FOREIGN KEY([MaToa])
REFERENCES [dbo].[ToaThuoc] ([MaToa])
GO
ALTER TABLE [dbo].[ChiTietToaThuoc] CHECK CONSTRAINT [FK_ChiTietToaThuoc_ToaThuoc]
GO
ALTER TABLE [dbo].[HoaDonThuoc]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonThuoc_ToaThuoc] FOREIGN KEY([MaToa])
REFERENCES [dbo].[ToaThuoc] ([MaToa])
GO
ALTER TABLE [dbo].[HoaDonThuoc] CHECK CONSTRAINT [FK_HoaDonThuoc_ToaThuoc]
GO
ALTER TABLE [dbo].[PhieuKham]  WITH CHECK ADD  CONSTRAINT [FK_PhieuKham_BenhNhan] FOREIGN KEY([MaBN])
REFERENCES [dbo].[BenhNhan] ([MaBN])
GO
ALTER TABLE [dbo].[PhieuKham] CHECK CONSTRAINT [FK_PhieuKham_BenhNhan]
GO
ALTER TABLE [dbo].[ToaThuoc]  WITH CHECK ADD  CONSTRAINT [FK_ToaThuoc_PhieuKham] FOREIGN KEY([MaPK])
REFERENCES [dbo].[PhieuKham] ([MaPK])
GO
ALTER TABLE [dbo].[ToaThuoc] CHECK CONSTRAINT [FK_ToaThuoc_PhieuKham]
GO
USE [master]
GO
